.box
  .inner
    %h2 Example Ports
    %p
      Here are some well known port numbers with the service
      names.
    %table
      %tr
        %th Name
        %th Address
      %tr
        %td FTP
        %td 21
      %tr
        %td SMTP
        %td 25
      %tr
        %td HTTP
        %td 80
      %tr
        %td POP3
        %td 110
      %tr
        %td SSL
        %td 443
      %tr
        %td MySQL
        %td 3306
