%tr
  %td.name
    = h port.name
  %td
    = h port.address
  %td
    - if port.status_text == 'Up'
      %span.label.label-success
        UP
    - elsif port.status_text == 'Down'
      %span.label.label-important
        Down
    - else
      %span.label
        Awaiting Data
  %td.action
    = link_to 'Edit', edit_server_port_path(@server, port)
    \|
    = link_to 'Delete', server_port_path(@server, port), :confirm => 'Are you sure?', :method => :delete
