- content_for :title do
  Port Monitoring
  
.yui-gc.inner-page.add-space
  .yui-u.first
    - form_for(@port, :html => { :class => 'data-entry'}, :url => server_port_path(@server, @port)) do |f|
      = render :partial => 'form', :locals => { :f => f }
      %fieldset.buttons
        = f.submit 'Update', :class => 'awesome'
        or
        = link_to 'Back', server_ports_path(@server)
  .yui-u
    = render :partial => 'examples'
