- content_for :title do
  Port Monitoring
  
.row
  .span11
    = form_for([@server, @port]) do |f|
      = render 'form', :f => f

      .actions
        %button.btn.primary{:type => 'submit'} Update
        or
        = link_to 'Back', server_ports_path(@server), :class => 'btn'

  .span5
    = render :partial => 'examples'
