- content_for :title do
  Port Monitoring

- content_for :page_title do
  %h1 Port Monitoring
  
.row
  .span8
    %h2 Ports

    %table.table.table-striped
      %thead
        %tr
          %th
            Name
          %th
            Address
          %th
            Status
          %th
            Action
      %tbody
        = render @ports

  .span4
    .well
      %h2 Monitor a New Port

      - if @server.port_limit_reached?
        You are monitoring the maximum number of ports.
      - else
        %p 
          ServerMonitoringHQ can monitor TCP/IP ports on your server for availability.
        %p
          = link_to 'Monitor New Port', new_server_port_path(@server), :class => 'btn primary'
