- content_for :title do
  Port Monitoring

- content_for :title do
  %h1 Port Monitoring
  
.row
  .span8
    = form_for([@server, @port], :html => { :class => 'form-horizontal' }) do |f|
      = render 'form', :f => f

      .form-actions
        %button.btn.btn-primary{:type => 'submit'} Create
        or
        = link_to 'Back', server_ports_path(@server), :class => 'btn'

  .span4
    = render :partial =>'examples'
