.thumbnail{ :style => 'margin-top: 50px' }
  %h4 ServerMonitoringHQ 
  %p{ :style => 'margin-bottom: 10px; margin-top: 15px' }
    Spot server issues in lightning time with no software to install.
  .thumbnail
    = image_tag("marketing/ServerPulseNewLook.png", :alt => 'Screenshot', :width => "200", :height => "120")
  %p{ :style => 'margin-top: 10px' }
    "It's like PingDom for servers"

  #signup-call
    %a{ :href => '/' }
      Take a look
