.container
  .row
    .span9.columns
        
      %h1{ :style => 'margin-top: 40px; font-size: 20px' }
        = @post.title
      %p.meta
        = @post.created_at.strftime('%d %B %y')

      %div{ :style => 'padding-right: 40px; margin-bottom: 60px' }
        = render :file => 'blogs/post_' + @post.id
      
    .span3.columns
      = render 'sidebar'
