- content_for :page_title do
  %h1
    Incidents
  %p
    These are the incidents reported so far.
.row
  .span16
    = paginate @incidents

    %table.zebra-striped
      %thead
        %tr
          %th
            Server Name
          %th
            Monitor Name
          %th
            Incident Type
          %th
            Description
          %th
            Raised Time
          %th
            Approx Duration
          %th
            Status
      %tbody
        = render @incidents