- content_for :main_title do
  Live Statistics 

- content_for :page_title do
  %h1
    Server Summary 
    %small#timer-text 
      Next update in 4 seconds.

.row
  .span12
    = render :partial => 'stats_display'
    = render :partial => 'live_stats_form'
