- content_for :main_title do
  Live Statistics 

- content_for :title do
  Live Statistics 
  %span#timer-text 
    Next update in 4 seconds.

.inner-page
  = render :partial => 'stats_display'
  = render :partial => 'live_stats_form'
