- content_for :main_title do
  Load and Processes 

- content_for :page_title do
  %h1 Processes

- content_for :head do
  %script{:type => "text/javascript", :src => "http://google.com/jsapi"}
  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawCharts);
    function drawCharts() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', '% Load Usage Over The Last 24 Hours');
      data.addColumn('number', 'Maximum');
      data.addColumn('number', 'Minimum');
      data.addRows(24);
      #{@data_vis_24hr}
      var chart = new google.visualization.AreaChart(
        document.getElementById('chart_load_24hr'));
      chart.draw(data, {width: 640, height: 400, 
        chartArea: {left:40,top:20,width:"75%",height:"80%"} });

      data = new google.visualization.DataTable();
      data.addColumn('string', '% Load Over The Last Week');
      data.addColumn('number', 'Maximum');
      data.addColumn('number', 'Minimum');
      data.addRows(7);
      #{@data_vis_7days}
      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_load_7days'));
      chart.draw(data, {width: 640, height: 400, 
        chartArea: {left:40,top:20,width:"75%",height:"80%"} });

      data = new google.visualization.DataTable();
      data.addColumn('string', '% Load Over The Last Year');
      data.addColumn('number', 'Maximum');
      data.addColumn('number', 'Minimum');
      data.addRows(12);
      #{@data_vis_year}
      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_load_year'));
      chart.draw(data, {width: 640, height: 400, 
        chartArea: {left:40,top:20,width:"75%",height:"80%"} });
    }

.row
  .span8
    %h3.highlight
      Live Top
    %h4.highlight
      Process usage updated live.
    %pre#top
      = @xml
    %h3.highlight
      Load Last 24 Hours
    %h4.highlight
      Minimum and maximum load over the last 24 hours.
    #chart_load_24hr.chart
    %h3.highlight
      Load Last 7 Days
    %h4.highlight
      Minimum and maximum load over the last week.
    #chart_load_7days.chart
    %h3.highlight
      Load Last 12 Months
    %h4.highlight
      Minimum and maximum load over the last 12 months.
    #chart_load_year.chart

  .span4
    .well
      %h2
        Load Realtime
      #avg_loads
        %ul.load.unstyled
          %li
            %span#load1
            (1 Min Avg)
        
          %li
            %span#load2
            (5 Min Avg)
        
          %li
            %span#load3
            (15 Min Avg)
      %small#timer-text
        Next Update in 4 Seconds.
      %form
        %input#server_id{ :name => "server_id", :type => "hidden", :value => @server.id }
