This is a notificaton from servermonitoringhq.com

We have recorded the following new incidents.
- @incidents.each { |incident|
= h incident.incident_type
= h incident.created_at
= h incident.description
- }
