.yui-u
  .box
    .inner
      %h2 Download the ServerMonitoringHQ Agent
      %p
        The ServerMonitoringHQ agent is a PHP script for you to install on each server you wish to monitor. 
        Download the zip file and extract the files. You'll need to point your webserver to the folder containing 
        %code index.php
      %p.button 
        %a.awesome-black{ :href => 'http://serverpulse-agent.s3.amazonaws.com/serverpulse-agent.zip' }
          Download Agent 
