- if @server.errors
  %div.box
    = f.error_messages

%fieldset
  %legend Name the Server

.control-group
  = f.label :name, "Display Name", :class => 'control-label'
  .controls
    = f.text_field :name
    %span.help-block
      The Display Name should be a unique name to identify the server

