%tr
  %th Name
  %th Load
  %th Memory
  %th Swap
  %th Ports
  %th Pages
  %th Action
- for server in @servers
  %tr
    %td
      %strong
        = link_to server.name, :controller => :statistics, :id => server.id
    %td
      %span.label.warning
        = server.cpuload
    %td
      %span.label.warning
        = number_to_percentage(server.mem_percentage, :precision => 2, :strip_insignificant_zeros => true)
    %td
      %span.label.warning
        = number_to_percentage(server.swap_percentage, :precision => 2, :strip_insignificant_zeros => true)
    %td
      - if server.ports_up?
        %span.label.label-success UP
      - else
        %span.label.label-important DOWN
    %td
      - if server.pages_up?
        %span.label.label-success UP
      - else
        %span.label.label-important DOWN
    %td
      %a{ :href => rename_server_path(server), :rel => 'facebox', 
          :title => 'Rename Server' }
        %i.icon-retweet
      %a{ :href => remove_server_path(server), :rel => 'facebox', 
          :title => 'Delete Server' }
        %i.icon-trash
      - if server.url != nil
        %a{ :href => agentedit_server_path(server), :title => 'Edit Server' }
          %i.icon-pencil
      - else
        %a{ :href => edit_server_path(server), :title => 'Edit Server'}
          %i.icon-pencil
