.alert.alert-info
  %h5{ :style => 'margin-bottom: 10px' }
    How does ServerMonitoringHQ collect information ?
  %p 
    ServerMonitoringHQ requires you to run a Bash script that we provide via crontab.
  %p
    The Bash script is gather statistics information from your server and sends it to
    the ServerMonitoringHQ servers.
