.block-message.alert-message.info
  %h5 How does ServerMonitoringHQ collect information ?
  %p 
    A user account in Linux has 
    %em read only access 
    to server statistics. 
    We can connect securely to a user account and run a few lightweight 
    commands to retrieve the data we need via 
    %strong SSH.
  %p
    All passwords are encrypted and we also encrypt private key information and keep this secure for obvious reasons.
.block-message.alert-message.info
  %h4 Public Key Authentication
  %p 
    If you connect to your server using SSH with key authentication
    You'll need to upload a ServerMonitoringHQ public key.
    You can view they key by clicking the button below.    
  %p 
    %br
    %button#public-key-button.btn.primary{ :href => '/key' }
      View Public Key

#public-key{ :style => 'display:none' }
  .modal
    .modal-header
      = link_to 'x', '#', :class => 'close'
      %h3 Public Key
    .modal-body
      %p
        This public key should be used to grant ServerMonitoringHQ access to your server.
        You'll need to add it to the  <em>authorized_keys</em> file.
      %textarea{ :style => 'height:120px;width:520px;font-size:90%' }
        = @server.public_key
