- content_for :page_title do
  %h1.header 
    Configure The Agent For
    = @server.name
  %p Follow the steps below to start collecting data from your server

.row
  .span8
    %h2
      1. Edit your crontab
    %code{ :style => 'font-size: 9px' }
      crontab -e
    %br
    %br
    %h2
      2. Add the following entry.
    %code{ :style => 'font-size: 9px' }
      = "*/1 * * * * curl -L -s #{request.protocol + request.host_with_port}/pulse/#{@server.access_key} | bash -s stable"
    %br
    %br
    %h2
      3. That's it.

    %a{ :href => servers_path}
      Click here when you've finished.
  .span4
    .alert.alert-block
      %h3 How we collect data from your server
      %p
        The cron job downloads a bash script located on our server and executes it.
      %p
        Linux stores server data mainly in the /proc file system, the script collects this data into an XML bundle and sends it to our servers for processing.
