.row
  .span11
    %h1 Edit Server

    = form_for(@server) do |f|
      = render 'form', { :f => f }

      .actions
        %button.btn.primary{:type => 'submit', :name => 'connect'} Submit Changes
        or
        = link_to 'Ignore Changes', servers_path, :class => 'btn'

  .span5
    = render 'sidebar'#, :server => @server