- content_for :page_title do
  %h1
    All Servers
    %small
      Server Status
      %span#timer-text
        Next update in 4 seconds.
.row
  .span11  
    .well
      = render @servers

  .span5
    .well
      - if current_user.account.server_limit_reached?
        %h3 Monitor More servers?
        %p 
          You'll need to upgrade your plan if you want to monitor any more servers.
      - else
        %h3 Monitor a Server

        %p 
          There are 2 ways we can collect statistics from your server. We can connect directly via SSH 
          or you can install our web based agent.
        %p
          = link_to 'Collect Data via SSH', new_server_path, :class => 'btn info'
        %p
          or
        %p
          = link_to 'Collect Data via Agent', newagent_servers_path, :class => 'btn info'

    - if current_user.account.servers.count > 0
      .well
        %h3 Public Dashboard Link

        %p 
          Click the button to generate a link to a read only public dashboard.
        %p
          %a#code-view-button.btn.primary{ :href => '/lost' }
            Get Code

= render 'servers/public_code', :servers => @servers