- content_for :page_title do
  %h1.header
    All Servers
  %p
    Summary of all your servers
    %span#timer-text
      Next update in 4 seconds.
.row
  .span11  
    %table#server-list.zebra-striped
      = render 'servers/server_list', :servers => @servers

  .span5
    .block-message.warning.alert-message
      - if current_user.account.server_limit_reached?
        %h3 Monitor More servers?
        %p 
          You'll need to upgrade your plan if you want to monitor any more servers.
      - else
        %h3 Add Another Server

        %p 
          You still have capacity to add more servers under your current plan.
          
        %p
          = link_to 'Add Server', new_server_path, :class => 'btn info'

- if @servers.length > 0
  = render 'servers/public_code', :servers => @servers
