.modal
  .modal-header
    = link_to 'x', '#', :class => 'close'
    %h3 Rename
  
  = form_for(@server, :url => { :action => 'rename' }) do |f|
    .modal-body
      .clearfix
      = f.label 'Name'
      .input
        = f.text_field :name

    .modal-footer
      %button.btn.primary{:type => 'submit'} Rename