- content_for :page_title do
  %h1
    Add a contact
  %p
    They can receive alerts from ServerMonitoringHQ
    
.row
  .span16
    = form_for(@user) do |f|
      
      = f.error_messages

      %fieldset
        %h4
          Add the details of the person you'd like to make a contact

      = render 'users/contactform', :f => f

      .actions
        %button.btn.primary{:type => 'submit'} Add Contact
        or
        = link_to('Cancel', users_path, :class => 'btn')

    :javascript
      document.getElementById('user_first_name').focus();
