= error_messages_for :user

.row
  .span16
    %h1 Request Password

    = form_for :user do |f|
      .clearfix
        = f.label :email
        .input
          = f.text_field :email
          
      .actions
        %button.btn.primary{:type => 'submit'} Submit
