- content_for :page_title do
  %h1 People
  
.row
  .span8
    %h3 Contacts (with account access)

    %table.table.table-striped
      %thead
        %tr
          %th{ :style => 'width:25%' }
            Name
          %th{ :style => 'width:25%' }
            Login
          %th{ :style => 'width:25%' }
            Mobile Number
          %th
            Action
      %tbody
        = render @users
      
    %h3 Contacts

    %table.table.table-striped
      %thead
        %tr
          %th{ :style => 'width:25%' }
            Name
          %th{ :style => 'width:25%' }
            Email
          %th{ :style => 'width:25%' }
            Mobile Number
          %th
            Action
      = render @people

  .span4
    .alert.alert-block
      %h4 Create a New Contact

      %p 
        Monitors set the criteria by which we measure server performance.
      %p
        = link_to 'New Contact', add_users_path, :class => 'btn primary'
