- content_for :title, "Server Monitoring - CPU, Load and Bandwidth"
- content_for :navigation, @selected_nav = :pricing

#headings
  %h1.heading Try ServerMonitoringHQ free for 30 Days
  %h2.subheading Pay as you go. No sign up fee. No long term contract. Change your plan any time.

.page
  = render :partial => 'marketing/plans'
  #sales-faq
    %h3 Frequently Asked Questions
    %dl
      %dt More than 20 Servers ?
      %dd
        %a{ :href => "/contact" } Contact Us
        for pricing details.
      %dt ServerMonitoringHQ System Requirements ?
      %dd 
        A Unix distribution (Such as Linux) running Secure Shell (SSH). 
        Most Unix systems are already running SSH.
      %dt What needs to be installed on the server.
      %dd 
        There&apos;s nothing to install server side all commands are run remotely.
      %dt What types of payment do you accept ?
      %dd 
        We use Paypal which accepts Visa, Mastercard, Discover, and American Express.
