- content_for :title, "Server Monitoring - CPU, Load and Bandwidth"
- content_for :navigation, @selected_nav = :pricing

#headings
  %h1.heading Try ServerMonitoringHQ free for 14 Days
  %h2.subheading Pay as you go. No sign up fee. No long term contract. Change your plan any time.

.page
  = render :partial => 'marketing/plans'
  #sales-faq
    %h2 Frequently Asked Questions
    %h3 More than 20 Servers ?
    %p
      %a{ :href => "/contact" } Contact Us
      for pricing details.
    %h3 ServerMonitoringHQ System Requirements ?
    %p 
      A Unix distribution (Such as Linux) running Secure Shell (SSH). 
      Most Unix systems are already running SSH.
    %h3 What needs to be installed on the server.
    %p 
      There&apos;s nothing to install server side all commands are run remotely.
    %h3 What types of payment do you accept ?
    %p 
      We use Paypal which accepts Visa, Mastercard, Discover, and American Express.
