- content_for :title, "Server Monitoring - CPU, Load and Bandwidth"
- content_for :navigation, @selected_nav = :home

#headings
  %h1.heading Get notified BEFORE your server goes down not afterwards.
  %h2.subheading We monitor CPU, Load, Memory, Bandwidth, Disks and notify you when critical levels are reached.

%p{:style => "text-align: center; margin: 0"}
  %img{:alt => 'Screenshot', :width => "900", :height => "250", :class => 'screenshot', :src => "/assets/marketing/ServerPulseNewLook.png"}
  
#signup-call
  %a{:href => '/buy'} Sign up now for a free 30 day trial &mdash; 30 second signup &mdash; no credit card required &gt;&gt;
  
.container#marketing
  .row
    .span4
      %h3 No Software to Install
      %p
        No software to install on your server we
        collect measurements via SSH and can use
        key authentication.
    .span4
      %h3 Vital Statistics and Alerts
      %p
        We alert you if memory, load or bandwidth
        limits set by you are exceeded.

    .span4
      %h3 Live Statistics Drill Down
      %p
        Drill down by server and see a live display
        of your servers statistics including TCP/IP ports
        and pages.

    .span4
      %h3 Historic Data and Graphs
      %p
        Predict memory, bandwidth usage and load trends with 24 hour,
        7 day and 1 year graphs.

  .row
    .well
      %blockquote
        %p 
          &quot;
          Yet, this one [ServerMonitoringHQ.com] thankfully brings something praiseworthy to the table, 
          namely the ability to  monitor everything from CPU, memory and bandwidth without you having to  
          install a single file on your computer.
          &quot;
        %small
          %a{ :href => 'http://www.killerstartups.com/Web-App-Tools/servermonitoringhq-com-monitor-your-servers',
            :target => "#" } 
            Killer Startups

  .row.screengrabs
    .span4
      %img{ :src => "/assets/marketing/front-screen1.png", :width => "210", :height => "90", :alt => "Bar Graph" }
      %h3 Alert Escalation
      %p
        Configure alert escalations. e.g. Contact support after 5 mins, managers after 1 hour of downtime.
    .span4
      %img{ :src => "/assets/marketing/front-screen2.png", :width => "210", :height => "90", :alt => "Bar Graph" }
      %h3 Monitor Granularity
      %p
        Only want to monitor disk space ? ServerMonitoringHQ allows you to configure each monitor.
    .span4
      %img{ :src => "/assets/marketing/front-screen3.png", :width => "210", :height => "90", :alt => "Bar Graph" }
      %h3 Public Key Authentication
      %p
        We can generate a public key for each server you configure for maximum security.

    .span4
      %img{ :src => "/assets/marketing/front-screen4.png", :width => "210", :height => "90", :alt => "Bar Graph" }
      %h3 1 Minute Granularity
      %p
        We can monitor server down to 1 minute resolution so you see issues as soon as they happen.

  .row
    .well
      %blockquote
        %p 
          &quot;We had a CPU load alert from ServerMonitoringHQ 2 days ago. 
          We're sure the heads up saved us from a potential outage on a production server.&quot;
        %small
          Ian Herringham, Montreal (herringham.com)
