%h2
  Privacy Policy for www.serverpulsehq.com

%p
  If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at info@serverpulsehq.com.

%p
  At www.serverpulsehq.com, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by www.serverpulsehq.com and how it is used.

%h2
  Log Files

%p
  Like many other Web sites, www.serverpulsehq.com makes use of log files. The information inside the log files includes internet protocol ( IP ) addresses, type of browser, Internet Service Provider ( ISP ), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer the site, track user movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable.

%h2
  Cookies and Web Beacons

%p
  Cookies and Web Beacons www.serverpulsehq.com does use cookies to store information about visitors preferences, record user-specific information on which pages the user access or visit, customize Web page content based on visitors browser type or other information that the visitor sends via their browser.

%p
  If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites. 
