- content_for :title, "Server Monitoring - Tour"
- content_for :navigation, @selected_nav = :tour

#headings
  %h1.heading Tour &amp; Features of ServerMonitoringHQ

  .row
    .screenshot
      %h2 Watch the video it's the quickest way to see how it works.
      %p
        We register and connect to a server within a few seconds.
      %object{ :id => "scPlayer", :width => "600", :height => "560", :type => "application/x-shockwave-flash",
        :data => "http://content.screencast.com/users/ianpurton/folders/Jing/media/d394ef2a-e6e2-4e49-ba33-ad1554f88378/jingswfplayer.swf" }
        %param{ :name => "movie", :value => "http://content.screencast.com/users/ianpurton/folders/Jing/media/d394ef2a-e6e2-4e49-ba33-ad1554f88378/jingswfplayer.swf" }
        %param{ :name => "quality", :value => "high" }
        %param{ :name => "bgcolor", :value => "#FFFFFF" }
        %param{ :name => "flashVars", :value => "thumb=http://content.screencast.com/users/ianpurton/folders/Jing/media/d394ef2a-e6e2-4e49-ba33-ad1554f88378/FirstFrame.jpg&containerwidth=1168&containerheight=1026&content=http://content.screencast.com/users/ianpurton/folders/Jing/media/d394ef2a-e6e2-4e49-ba33-ad1554f88378/00000004.swf&blurover=false" }
        %param{ :name => "allowFullScreen", :value => "true" }
        %param{ :name => "scale", :value => "showall" }
        %param{ :name => "allowScriptAccess", :value => "always" }
        %param{ :name => "base", :value => "http://content.screencast.com/users/ianpurton/folders/Jing/media/d394ef2a-e6e2-4e49-ba33-ad1554f88378/" }
        Unable to display content. Adobe Flash is required.
        
    %hr

    .screenshot
      %h2 The latest information for all your servers on 1 screen.
      %p
        This screen updates every mintute to coincide with the statistics we're gathering from your
        servers.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/all-servers.png", :width => "650", :height => "584" }

      %ul.unstyled
        %li{ :style => 'padding-right: 150px; top: 280px'} Server load showing how much work your server has done in the last minute.
        %li.right{ :style => 'top:160px; padding-left: 100px'} Easily tab through server, monitoring settings and server contacts.
        %li.right{ :style => 'top:400px; padding-left: 450px'} The percentage usage of memory shown for each server.
    %hr

    .screenshot
      %h2 Drill down for a comprehensive real time overview of server statistics.
      %p
        Select a server and drill down for server stastics gathered every 10 seconds.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/live-statistics.png", :width => "650", :height => "584" }

      %ul.unstyled
        %li{ :style => 'padding-right: 150px; top: 280px'} 
          Get a quick glance at all your disks and how full they are.
        %li{ :style => 'padding-right: 120px; top: 380px'} 
          A live display of current bandwidth usage and data rate.
        %li.right{ :style => 'top:170px; padding-left: 100px'} 
          Tabs allow you to drill down further and see historical data per server.
    %hr

    .screenshot
      %h2 
        Memory usaged graphed over 24 hours, 7 days and 12 months.
      %p
        Excellent for predicting memory trends and spotting unexpected meory usage.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/memory-graph.png", :width => "650", :height => "584" }

    %hr

    .screenshot
      %h2 
        Load usage graphed over 24 hours, 7 days and 12 months.
      %p
        ServerMonitoringHQ also show you a live top pulled from your server.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/top.png", :width => "650", :height => "584" }

    %hr

    .screenshot
      %h2 
        It's so easy to set the criteria for sending out alerts.
      %p
        ServerMonitoringHQ can monitor load, memory, bandwidth. Altogether or individually.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/add-monitor.png", :width => "650", :height => "584" }

    %hr

    .screenshot
      %h2 
        Bandwidth usage graphed over 7 days, 1 week and 12 months.
      %p
        Bandwidth spikes are often a good indicator off server intrusion.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/bandwidth-graph.png", :width => "650", :height => "584" }

    %hr

    .screenshot
      %h2 
        We record all incidents that exceed limits you set.
      %p
        It's easy to configure alerts based on these incidents with contact escalation.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/incidents.png", :width => "650", :height => "584" }
