- content_for :title, "Server Monitoring - Tour"
- content_for :navigation, @selected_nav = :tour

#headings
  %h1.heading Tour &amp; Features of ServerMonitoringHQ

  .row

    .screenshot
      %h2 The latest information for all your servers on 1 screen.
      %p
        This screen updates every minute to coincide with the statistics we're gathering from your
        servers.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/all-servers.png", :width => "650", :height => "579" }

      %ul.unstyled
        %li{ :style => 'padding-right: 150px; top: 280px'} Server load showing how much work your server has done in the last minute.
        %li.right{ :style => 'top:160px; padding-left: 100px'} Easily tab through server, monitoring settings and server contacts.
        %li.right{ :style => 'top:400px; padding-left: 450px'} The percentage usage of memory shown for each server.
    %hr

    .screenshot
      %h2 Drill down for a comprehensive real time overview of server statistics.
      %p
        A one page summary of everything that's happening on your server.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/live-statistics.png", :width => "650", :height => "579" }

      %ul.unstyled
        %li{ :style => 'padding-right: 150px; top: 280px'} 
          Get a quick glance at all your disks and how full they are.
        %li{ :style => 'padding-right: 120px; top: 380px'} 
          A live display of current bandwidth usage and data rate.
        %li.right{ :style => 'top:170px; padding-left: 100px'} 
          Tabs allow you to drill down further and see historical data per server.
    %hr

    .screenshot
      %h2 
        Memory usage graphed over 24 hours, 7 days and 12 months.
      %p
        Excellent for predicting memory trends and spotting unexpected meory usage.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/memory-graph.png", :width => "650", :height => "579" }

    %hr

    .screenshot
      %h2 
        Load usage graphed over 24 hours, 7 days and 12 months.
      %p
        ServerMonitoringHQ also show you a live top pulled from your server.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/top.png", :width => "650", :height => "579" }

    %hr

    .screenshot
      %h2 
        It's so easy to set the criteria for sending out alerts.
      %p
        ServerMonitoringHQ can monitor load, memory, bandwidth. Altogether or individually.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/add-monitor.png", :width => "650", :height => "579" }

    %hr

    .screenshot
      %h2 
        Bandwidth usage graphed over 7 days, 1 week and 12 months.
      %p
        Bandwidth spikes are often a good indicator off server intrusion.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/bandwidth-graph.png", :width => "650", :height => "579" }

    %hr

    .screenshot
      %h2 
        We record all incidents that exceed limits you set.
      %p
        It's easy to configure alerts based on these incidents with contact escalation.
      %img{ :alt => 'Screenshot', :src => "/assets/tour/incidents.png", :width => "650", :height => "579" }
