.well
  %h2 How we monitor Pages
  
  %p
    The ServerPulse agents will request the page via the URL you specify and
    then examine the search text. Your page needs to be accessible from the internet.
