- content_for :title do
  Web Page Monitoring

- content_for :page_title do
  %h1 Web Page Monitoring
  
.row
  .span8
    %h2 Pages Monitored
    %table.table.table-striped
      %thead
        %tr
          %th
            Title
          %th
            URL
          %th
            Status
          %th
            Search Text
          %th
            Action
      %tbody
        = render @pages

  .span4
    .well
      %h2 
        Monitor a new
        %br
        Web Page

      - if @server.page_limit_reached?
        You are monitoring the maximum number of web pages.
      - else
        %p 
          ServerMonitoringHQ can monitor web pages for availability. 
        %p
          = link_to 'Monitor New Page', new_server_page_path(@server), :class => 'btn primary'
