- content_for :title do
  Web Page Monitoring

.row
  .span8
    = form_for([@server, @page], :html => { :class => 'form-horizontal' }) do |f|
      = render 'form', :f => f

      .form-actions
        %button.btn.btn-primary{:type => 'submit'} Create
        or
        = link_to 'Back', server_pages_path(@server), :class => 'btn'

  .span4
    = render :partial => 'example'
