- content_for :title do
  Web Page Monitoring

.row
  .span11
    = form_for([@server, @page]) do |f|
      = render 'form', :f => f

      .actions
        %button.btn.primary{:type => 'submit'} Create
        or
        = link_to 'Back', server_pages_path(@server), :class => 'btn'

  .span5
    = render :partial => 'example'
