- content_for :title do
  Web Page Monitoring
  
.yui-gc.inner-page.add-space
  .yui-u.first
    - form_for(@page, :html => { :class => 'data-entry'}, :url => server_pages_path(@server)) do |f|
      = render :partial => 'form', :locals => { :f => f }
      %fieldset
        = f.submit 'Create', :class => 'awesome'
        or
        = link_to 'Back', server_pages_path(@server)
  .yui-u
    = render :partial => 'example'
