/*  ========================================================================= */
/*  = Colours =                                                               */
/*  ========================================================================= */
h1 {
  font-size: 18px;
  font-weight: normal; }

h2, h3 {
  text-align: left;
  font-weight: normal; }

h3 {
  font-weight: bold; }

div.big-menu {
  margin: 40px 0;
  text-align: center; }

div.big-menu p {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px; }

div.big-menu a {
  background-color: #eeeeee;
  text-align: center;
  padding: 30px;
  display: block;
  width: 70%;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px; }

/*  ========================================================================= */
/*  = Mixins =                                                                */
/*  ========================================================================= */
/*  ========================================================================= */
/*  = General =                                                               */
/*  ========================================================================= */
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: black;
  padding: 8px;
  color: white;
  text-decoration: none;
  display: inline-block; }
  .button:hover {
    background: #006fbb; }

/*  ========================================================================= */
/*  = Typography =                                                            */
/*  ========================================================================= */
#support-nav h1 {
  text-align: center;
  color: #2d76c4;
  font-size: 24px; }

/*  ========================================================================= */
/*  = Navigation =                                                            */
/*  ========================================================================= */
ul.nav {
  margin: 0 0 20px 0;
  margin: 0;
  overflow: hidden;
  margin-left: -10px; }
  ul.nav li {
    float: left;
    margin-left: 10px;
    line-height: 30px;
    list-style-type: none; }
    ul.nav li a {
      color: white; }

.nav-bar {
  margin-left: -10px;
  background: #2d76c4;
  padding: 5px 0;
  margin-bottom: 40px; }
  .nav-bar .nav {
    width: 900px;
    margin: 0 auto;
    line-height: 35px; }

/*  ========================================================================= */
/*  = Layout =                                                                */
/*  ========================================================================= */
.issue {
  width: 600px;
  float: left; }
  .issue h2 {
    margin-top: 0; }
  .issue .author {
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c1c1; }
    .issue .author img {
      float: left;
      margin-right: 10px; }
    .issue .author p {
      float: left; }
  .issue .body {
    margin: 10px 0; }

.comments {
  margin: 0; }
  .comments li {
    list-style-type: none;
    overflow: hidden; }
    .comments li .who {
      background: #f1f1f1;
      line-height: 20px;
      margin-bottom: 5px; }
    .comments li .gravatar {
      float: left;
      margin: 0 10px 10px 0; }
    .comments li .said {
      float: left; }

.issue-status {
  width: 240px;
  float: right;
  border: 10px solid #e1e1e1;
  background: #f1f1f1;
  padding: 10px; }

.articles {
  margin-left: -40px;
  overflow: hidden; }
  .articles .category {
    width: 430px;
    float: left;
    overflow: hidden;
    margin-left: 40px; }
    .articles .category h2 {
      font-weight: bold; }
    .articles .category ul {
      margin: 0; }
      .articles .category ul li {
        list-style-type: none;
        padding: 8px 0;
        border-bottom: 1px dashed #c1c1c1; }
        .articles .category ul li a {
          color: #2d76c4; }

#footer {
  margin: 40px 0; }

.latest-discussions {
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #181818;
  color: #adadad;
  padding: 15px 25px;
  overflow: hidden;
  text-align: left; }
  .latest-discussions span {
    color: #555555; }
  .latest-discussions a {
    color: #adadad; }
  .latest-discussions .latest {
    float: left;
    width: 405px; }
    .latest-discussions .latest.articles {
      margin-left: 40px; }
    .latest-discussions .latest h3 {
      font-weight: bold;
      margin-top: 0; }
    .latest-discussions .latest ul {
      margin: 0; }
      .latest-discussions .latest ul li {
        padding: 8px 0;
        border-bottom: 1px dashed #f1f1f1;
        list-style-type: none; }
        .latest-discussions .latest ul li span {
          color: #555555; }
        .latest-discussions .latest ul li a {
          color: #adadad; }

/*  ========================================================================= */
/*  = Forms =                                                                 */
/*  ========================================================================= */
form fieldset.inputs ol {
  margin: 0; }
  form fieldset.inputs ol li {
    list-style-type: none;
    margin: 5px 0; }
    form fieldset.inputs ol li label {
      width: 150px;
      float: left;
      font-weight: bold;
      line-height: 28px; }
    form fieldset.inputs ol li.string input, form fieldset.inputs ol li.string textarea, form fieldset.inputs ol li.text input, form fieldset.inputs ol li.text textarea {
      padding: 5px;
      border: 1px solid #c1c1c1; }
    form fieldset.inputs ol li.string input {
      width: 350px; }
    form fieldset.inputs ol li.text textarea {
      width: 500px;
      height: 200px; }
    form fieldset.inputs ol li.boolean label {
      width: auto; }
    form fieldset.inputs ol li.select select {
      margin: 5px 0; }

/*  ========================================================================= */
/*  = Tables =                                                                */
/*  ========================================================================= */
table {
  width: 100%;
  margin: 10px 0; }
  table th {
    border: 1px solid #006fbb;
    font-size: 14px; }
  table td {
    border: 1px solid #c1c1c1; }
  table thead th {
    text-align: left;
    background: #006fbb;
    color: white;
    padding: 10px 5px; }

td h2 {
  margin: 5px 0;
  font-weight: normal; }
  td h2 a {
    text-decoration: none; }

td a {
  color: #006fbb; }

tr.even td {
  background: #f1f1f1; }
