#context-header
  .inner-page
    .left-side
      %h1
        Edit Monitor
    .right-side
.inner-page
  .yui-ge
    .yui-u.first
      - form_for(@measure, :html => { :class => 'data-entry'} ) do |f|
        = render :partial => 'form', :locals => { :f => f }
        %p
          = f.submit 'Update', :class => 'awesome'
    .yui-u
