- content_for :page_title do
  %h1.header All Monitors
  %p Incidents are created when monitor thresholds are breached.

.row
  .span11
    %table.zebra-striped
      %thead
        %tr
          %th
            Name
          %th
            Memory %
          %th
            Load %
          %th
            Swap %
          %th
            Disk %
          %th
            Action
      %tbody
        = render @measures

  .span5
    .well
      %h2 Create a New Monitor
      %p 
        Monitors set the criteria by which we measure server performance.
      %p
        = link_to 'New Monitor', new_measure_path, :class => 'btn primary'
