- content_for :page_title do
  %h1 New Monitor

.row
  .span12   
    = form_for(@measure, :html => { :class => 'form-horizontal' }) do |f|
      = render 'form', :f => f

      .actions
        %button.btn.primary{:type => 'submit'} Submit
        or
        = link_to 'Cancel', measures_path, :class => 'btn'
