- if Rails.env == 'production'
  :javascript
    var _gaq = _gaq || [];   
    _gaq.push(['_setAccount', 'UA-54657-19']);   
    _gaq.push(['_trackPageview']);    
    (function() {     
      var ga = document.createElement('script'); 
      ga.type = 'text/javascript'; ga.async = true;     
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';     
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);   
      })();  
  :javascript
    (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" "); for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]); mixpanel.init("ab2192d8724107fdd4037f5f1ec30803");
  %script
    != session.delete :mixpanel_events
