
.row
  %footer
    %p.social
      Keep up to date by
      %a{:href => 'http://twitter.com/monitoringhq'} following us on twitter
    %p The names and logos for ServerMonitoringHQ.com are registered trademarks of ServerMonitoringHQ LTD
    %p 
      %a{:href => '/marketing/privacy' } Privacy Policy
      and
      %a{:href => '/marketing/terms' } Terms &amp; Conditions
