%meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
%title
  = yield(:title)

%link{:rel => 'icon', :href => '/images/favicon.ico'} 
= stylesheet_link_tag 'sales'

/[if IE]
  = javascript_include_tag  "http://html5shiv.googlecode.com/svn/trunk/html5.js"

= javascript_include_tag 'marketing'
