%p.social
  Keep up to date by
  %a{:href => 'http://twitter.com/monitoringhq'} following us on twitter
%iframe{:src=> "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fservermonitoringhq.com&amp;layout=standard&amp;show_faces=true&amp;width=300&amp;action=like&amp;colorscheme=light&amp;height=40", :style => "border:none; overflow:hidden; width:300px; height:40px;" }
%p The names and logos for ServerMonitoringHQ.com are registered trademarks of ServerMonitoringHQ LTD
%p 
  %a{:href => '/marketing/privacy' } Privacy Policy
  and
  %a{:href => '/marketing/terms' } Terms &amp; Conditions
