%link{ :href => "http://serverpulsehq.com/stylesheets/facebox.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
%script{ :type => 'text/javascript', :src => 'http://serverpulsehq.com/javascripts/facebox.js'}
%script{ :type => 'text/javascript' }
  var external_id = "40b474278c8d40fc4fe9413635fb09745a32817a"; 
%script{ :type => 'text/javascript', :src => 'http://serverpulsehq.com/javascripts/public-stats.js' }
