- content_for :page_title do
  %h1
    Upgrade
  %p
    = flash[:error]

.row
  .span16
    %h2
      Your current subscription plan is: 
      = current_user.account.plan

= render :partial => 'marketing/plans'

.row
  .span16{:style => 'margin-top: 20px'}
    %h2 Questions and Answers

    %dl
      %dt What happens when I click the subscribe button ?

      %dd
        You'll be directed to PayPal which we're using to take payments. It's very simple
        and after you've made the payment PayPal automatically updates us and we apply
        your subscription instantly.

      %dt How do I cancel my subscription ?

      %dd
        Easy. Just follow the 
        %a{ :href => paypal_cancel_path } this link
        and you'll be able to remove your subscription.

      %dt How do I upgrade/Downgrade my plan ?
      
      %dd
        Simply follow the steps above to cancel your current plan if you're not on the basic plan.

        Then click the subscribe button for the plan you wish to be on.
